* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  


  li{ 
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #5918B4;
    font-size: 1rem;
  }

  a:hover{
    color:orange;
  }


  header {
    background-color: #fff;
    z-index: 10;
    position: fixed;
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
   
    
  }

  main{
    padding-top: 10vh;
  }

  /* Flex container */
.flex-container {
    
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10vh; /* Allows items to wrap onto the next line if necessary */
}

.flex-item {
    padding: 20px;
    height: 90vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.flex-item-1 {
    flex: 1 1 45%; /* flex-grow, flex-shrink, flex-basis */
}

.flex-item-2 {
    flex: 1 1 55%; /* flex-grow, flex-shrink, flex-basis */
}

  .navbar{
    padding: 0 2rem;
    position: absolute;
    width: 100%;
    height: 10vh;
    max-width: 1200px;
    z-index: 10;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }


  .navbar .logo a { 
    font-size: 1.5rem;
    font-weight: bold;
  }

  

  .navbar .routes { 
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


  .navbar .links{
    display: flex;
    gap: 2rem;
  }

  .navbar .toggle_btn { 
    color: #fff;
    fill : #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .cotizar_btn { 
    display: flex;
    flex-direction: row;
    fill: #fff;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #1D0F9F, #DF085A);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 5px ;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
  }


  .action_btn { 
    color: #5918B4;
    padding: 0.5rem 1rem;
    outline: none;
    width: 50px;
    border: 1px solid #5918B4;
    align-items: center;
    justify-content: center;

    
    font-size: 0.8rem;
    font-weight: bold;

    cursor: pointer;
    transition: scale 0.3s ease;
  }

  .action_btn svg { 
    fill: #5918B4 ;
  }


  .action_btn:hover { 
    scale: 1.05;
    color: #fff;
  }

  .action_btn:active{
    scale: 0.95;
  }


  .dropdown_menu{
    display: none;
    position: absolute;
    right: 0rem;
    top: 60px;
    height: 0;
    width: 300px;
    background : #fff;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu.open { 
   display: block;
    height: 200px;
  }


  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .dropdown_menu .action_btn { 
    width: 100%;
    display: flex;
    text-align: center;
  }


  


  @media ( max-width:992px){

   
    

    .navbar .links,
    .navbar .action_btn { 
        display: none;
    }


    .navbar .routes { 
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .navbar .toggle_btn { 
      display: block;
    }


    

    .cotizar_btn {
        width: 80px;
        font-size: small;
    }

    .navbar .logo  a img { 
        width: 100px;
    }

    .routes .action_btn { 
        display: none;
    }

  }

  /* Responsive flex */
@media (max-width: 767px) {
    .flex-item {
        flex: 1 1 100%; /* Stack columns on small screens */
    }
}

  